<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <title>
            <%=createUserTitle%>
            </title>
        </head>
        <body>
            <form action="submit_creater" method="GET">
                <p>
                    <span>
                        Name:
                    </span>
                    <br/>
                    <input id="name" name="name" value="" type="text"/>
                </p>
                <p>
                    <span>
                        group:
                    </span>
                    <br/>
                    <input id="group" name="group" value="" type="text"/>
                </p>
                <p>
                    <input type="submit" value="submit"/>
                </p>
            </form>
        </body>
    </html>
